@model SoltaniWeb.Models.Domain.tbl_listkala






@using (Html.BeginForm("addnewitemin", "admin", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
     
            <label for="productname" class="col-sm-2 control-label">نام کالا</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="productname">
                <input type="hidden" class="form-control" id="productid" name="productid">
            
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kalanumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kalanumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kalanumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kalacost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kalacost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kalacost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kaladescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kaladescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kaladescription, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.sodoordate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="text" placeholder="YYYY/MM/DD hh:mm:ss:ms" id="pdpF2" name="sodoordate"/><br />

            </div>

        </div>


       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<script src="~/Scripts/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>*@
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />

<script>
    $(function () {
        $("#productname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    dataType: "json",
                    type: 'Post',
                    url: '@Url.Action("searchproduct", "admin")',
                    data: { text: request.term },
                    success: function (data) {
                        $("#productname").removeClass('ui-autocomplete-loading');
                        // hide loading image

                        response($.map(data, function (item) {
                            return {
                                id: item.id,

                                value: item.value,
                                lable: item.lable
                                //val: item.split('-')[1]
                            }
                        }));
                    },


                    error: function (data) {
                        $("#productname").removeClass('ui-autocomplete-loading');
                    }
                });
            },

            minLength: 1,
            select: function (event, result) {
                $("#productid").val(result.item.id);

            },
            open: function () { },
            close: function () { },
            focus: function (event, ui) { },

        });
    });


</script>
<script>
    $("#pdpF2").persianDatepicker({
        formatDate: "YYYY/MM/DD hh:mm:ss"
    });


    //function f1() {
    //    alert(document.getElementById("pdpF2").value)
    //}
</script>
