@model SoltaniWeb.Models.Domain.tbl_listkala

<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kalanumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kalanumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kalacost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kalacost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kaladescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kaladescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalcost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalcost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sodoordate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodoordate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usernameid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usernameid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.htype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.htype)
        </dd>

    </dl>
</div>

