<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.title</title>
    <meta name="description" content="@ViewBag.description" /> 
    <meta name="robots" content="@ViewBag.howtoindex" /> 
    <meta property="og:title" content="@ViewBag.title" />
    <meta property="og:description" content="@ViewBag.description" />
    <meta property="og:site_name" content="کالای چوب سلطانی"/>
   
    <meta property="og:image" content="~/Content/img/logo/mylogotelegram.png" />






    <link rel="icon" href="~/Content/img/logo/mylogo.png">
    <!-- Bootstrap -->
    <!--  <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--  <link href="../../Content/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
   
    <link href="~/Scripts/bootstrap_persian_datetimepicker_1.3/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

    <link href="~/Scripts/jQuery-Datepicker-Plugin-For-Persian-Date-persianDatepicker/jQuery-Datepicker-Plugin-For-Persian-Date-persianDatepicker/css/persianDatepicker-default.css" rel="stylesheet" />

    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/PersianDatePicker.css" rel="stylesheet" />
       <link href="~/Content/styles/Style3.css" rel="stylesheet" />
    <link href="~/Scripts/Basic-Responsive/Basic-Responsive/dist/css/slider.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>




    <div class="container-fluid">




       

      
        @RenderBody()


     </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>

<footer>
  




</footer>

<script src="~/Scripts/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />




@*<script src="~/Scripts/jquery-3.1.0.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/Basic-Responsive/Basic-Responsive/dist/js/slider.min.js"></script>

@*<script src="~/Scripts/jQuery-Datepicker-Plugin-For-Persian-Date-persianDatepicker/jQuery-Datepicker-Plugin-For-Persian-Date-persianDatepicker/js/jquery-1.10.1.min.js"></script>*@
@*<script src="~/Scripts/jQuery-Datepicker-Plugin-For-Persian-Date-persianDatepicker/jQuery-Datepicker-Plugin-For-Persian-Date-persianDatepicker/js/persianDatepicker.min.js"></script>*@


<script src="~/Scripts/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/utility.js"></script>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="js/bootstrap.min.js"></script>-->

<script src="~/Scripts/i18n/grid.locale-fa.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>

<script src="~/Scripts/PersianDatePicker.js"></script>
<script src="~/Scripts/jquery.price_format.2.0.js"></script>

<script src="~/Scripts/gridmvc.js"></script>

