@using SoltaniWeb.Models.Domain
@using SoltaniWeb.Models.repository
@using SoltaniWeb.Models.utility
@model IEnumerable<tbl_purchasekart>
           @{
               abstractinfoofpurchasecart getinfo = new abstractinfoofpurchasecart();
               int take = ViewBag.pagesize;
               int skip =  ViewBag.skip;
               var cartids = Model.Select(a => new { id = a.id }).ToList();
               int userid = int.Parse(User.Claims.FirstOrDefault().Value);
              _4820_soltaniwebContext db = new _4820_soltaniwebContext();;
               var access = db.tbl_accesslevels.Where(a => a.userid == userid && a.accessid == 32 && a.accessvalue == true).SingleOrDefault();
           }



<div class="row" style="min-height: -webkit-fill-available">
    @foreach (var item in Model.Skip(skip).Take(take))
    {

        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    @( "سبد : " + item.id)

                    <span class="date" style="float:left;">@(item.ispaid == true ? shamsi.ToShamsi(item.purchasedateend.Value).ToString("yyyy/MM/dd  HH:mm") : "")</span>

                </div>
                <div class="card-body" style="background-color:#f8eec9; color:#000;font-weight:800;display:none">
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>نام کاربری :</td>
                            <td> @(item.user.username + "  [" + item.userid + "]") </td>
                        </tr>
                        <tr>
                            <td>نام و نام خانوادگی :</td>
                            <td> @(item.user.name + "  " + item.user.Lname)</td>
                        </tr>
                        <tr>
                            <td>وضعیت پرداخت :</td>
                            <td>@(item.ispaid == true ? "تسویه شده" : "عدم تسویه") </td>
                        </tr>
                        <tr>
                            <td>تاریخ پرداخت :</td>
                            <td>@(item.purchasedateend == null ? "" : @shamsi.ToShamsi(item.purchasedateend.Value).ToString("yyyy/MM/dd")) </td>
                        </tr>

                        <tr>
                            <td>تقاضای حمل :</td>
                            <td>@(item.tbl_transportaiondetails.Count() == 0 ? "ندارد" : "دارد") </td>
                        </tr>
                        <tr>
                            <td>وضعیت نهایی سبد :</td>
                            <td>@(item.isdeleverd == true ? "تحویل مشتری داده" : "تحویل مشتری نداده") </td>
                        </tr>
                    </table>

                    <hr />

                    <button class="btn btn-sm my-1 btn-primary details" value="@item.id">اقلام سبد</button>
                    @if (item.tbl_transportationcost.Count() != 0)
                    {

                        <button class="btn btn-sm my-1 btn-success transportaiondetails" value="@item.id">محل حمل  </button>
                        <button class="btn btn-sm my-1 btn-danger transportaioncost" value="@item.id">کرایه   </button>
                    }

                    @if (access != null)
                    {

                        <button class="btn btn-sm my-1 btn-warning vertificationofdeliver" value="@item.id"> تحویل   </button>
                    }
                    <button class="btn btn-sm my-1 btn-danger sendprice" cartid="@item.id" userid="@item.userid">ارسال قیمت</button>
                    <button class="btn btn-sm my-1 btn-warning editprice" cartid="@item.id" userid="@item.userid">ویرایش</button>

                    <div id="@("p"+item.id)" style="display:none;">
                        @Html.Partial("_pcartdetails", item)

                    </div>
                    <div id="@("t"+item.id)" style="display:none;">

                        @Html.Partial("_transportationdetails", item)
                    </div>
                    <div id="@("tcost"+item.id)" style="display:none;">

                        @Html.Partial("_transportationcost", item)
                    </div>
                </div>
                <div class="card-footer">
                    @if (item.isdeleverd == true)
                    {

                    <div class="imgStatus">
                        <img src="~/Content/img/icon/isdeliverd_s.png" />
                    </div>
                    }
                    else
                    { 
                    <div class="imgStatus">
                        <img src="~/Content/img/icon/no-icon.png" />
                    </div>
                    }


                </div>
            </div>

        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="prenext page-link" id="previous" page="@(ViewBag.pagenumber)" href="#" aria-label="Previous" take="@(ViewBag.pagesize)" totalpage="@(ViewBag.totalpages)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i < ViewBag.totalpages + 1; i++)
                {
                    <li class="page-item"><a class="paging page-link" id="@(ViewBag.pagesize*(i-1))" href="#" style="background-color:@(ViewBag.pagenumber==i?"#b7c9e1":"");">@i</a></li>
                }

                <li class="page-item">
                    <a class="prenext page-link" id="next" href="#" aria-label="Next" page="@(ViewBag.pagenumber)" take="@(ViewBag.pagesize)" totalpage="@(ViewBag.totalpages)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>


            </ul>
        </nav>


    </div>

</div>
    <script>
        $('.paging').click(function (e) {
            e.preventDefault()


            var modelobj = @Html.Raw(Json.Serialize(cartids))
            var skip = $(this).attr('id')

            var take = @ViewBag.pagesize
            var ids =[];
            $(modelobj).each(function(n,m){
                ids.push(m.id)
            })

            $('.loader').show()
            jQuery.post('/admin/manage_pcartajax', {take:take , skip:skip , model:ids}, function (result) {
                $('.loader').hide()
                $('#panelbodyforcarts').html(result)


            })

        })

        $('.prenext').click(function (e) {


            e.preventDefault();
            var modelobj = @Html.Raw(Json.Serialize(cartids))
            var pagenumber = $(this).attr('page')
            var totalpage = $(this).attr('totalpage')

            var id = $(this).attr('id')
            var ids =[];
            $(modelobj).each(function(n,m){
                ids.push(m.id)
            })

            if (id == 'previous') {
                var targetpagenumber = pagenumber - 1;
                if (targetpagenumber <= 0)
                    return;

                var take = $(this).attr('take')
                var skip = take * (targetpagenumber - 1)
            } else {
                var targetpagenumber = parseInt(pagenumber) + 1;
                if (targetpagenumber > totalpage)
                    return;

                var take = $(this).attr('take')
                var skip = take * (parseInt(targetpagenumber) - 1)

            }
            $('.loader').show()
            jQuery.post('/admin/manage_pcartajax', { take: take, skip: skip ,model:ids}, function (result) {
                $('.loader').hide()
                $('#panelbodyforcarts').html(result)


            })


        })



    </script>



