@using SoltaniWeb.Models.Domain
@using SoltaniWeb.Models.structs
@model myorderlist 
@{
   _4820_soltaniwebContext db = new _4820_soltaniwebContext();;
}
<style>
    /*.classfont{
        font-weight:800;

    }*/
</style>
<div id="formbody" mode="add" class="form-horizontal classfont">



    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2 ">نام : </label>
            <div class="col-sm-10">
                <input id="productnameinmodalid" type="text" autofocus tabindex=0 class="form-control" value="@(Model.itemname)" placeholder="نام محصول را وارد کنید">

            </div>
            <input id="productnameinmodalid_id" type="hidden" class="form-control" value="@Model.itemid">
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label id="itemnumberinmodalid_lbl" class="control-label col-sm-2 ">تعداد : </label>
            <div class="col-sm-4">
                <input id="itemnumberinmodalid" type="text" class="form-control" placeholder="" value="@Model.itemnumber">
            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2 ">شرح : </label>
            <div class="col-sm-10">
                <textarea id="itemdescriptioninmodal" class="form-control" rows="3">@Model.pdesc</textarea>
                @*<input id="description" type="text" class="form-control" placeholder="رنگ های مشابه در سایر برندهای را وارد نمایید">*@
            </div>
        </div>
    </div>
    <button class="btn" style="background-color:#ffca01;color:#fff" id="btn_edititemmodalid" selectedrow="@Model.row" >ویرایش</button>

</div>

<script type="text/javascript">
     setTimeout(function () {
         $("#productnameinmodalid").filter(':visible').focus();
     }, 500);
    // autocomplete products name
    $("#productnameinmodalid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    dataType: "json",
                    type: 'Post',
                    url: '@Url.Action("searchproduct", "admin")',
                    data: { text: request.term },
                    success: function (data) {
                        $("#productnameinmodalid").removeClass('ui-autocomplete-loading');
                        // hide loading image

                        response($.map(data, function (item) {
                            return {
                                id: item.id,

                                value: item.value,
                                lable: item.lable
                                //val: item.split('-')[1]
                            }
                        }));
                    },


                    error: function (data) {
                        $("#productnameinmodalid").removeClass('ui-autocomplete-loading');
                    }
                });
            },

            minLength: 1,
            select: function (event, result) {
                $("#productnameinmodalid_id").val(result.item.id);

            },
            open: function () { },
            close: function () { },
            focus: function (event, ui) { },

        });
</script>