@{ 
    SoltaniWeb.Models.repository.samplerepository samplerep = new SoltaniWeb.Models.repository.samplerepository();
}


<div id="imagegallerydetaile" class="col-xs-12 ">
    <div class="panel bounceInDown animated  ">
        <div class="panel-heading " style="background-color:#0cb514;">
            <center> <h4>.:: گالری عکس نمونه کارها  ::.</h4></center>
        </div>
        <div class="panel-body ">

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 " style=" margin-bottom:5px; margin-top:5px;">

                <a href="~//samples/decortype/3"><img src="~/Content/img/samples/@samplerep.getsamplesrandom(3).filename" alt="@samplerep.getsamplesrandom(3).decortype.name - @samplerep.getsamplesrandom(3).madeby.Lname " onmouseover="$('#sample1').show('slide', {direction: 'right'}, 500);" onmouseout="$('#sample1').hide('slide', {direction: 'right'}, 500);" style="width:100%; height :Auto; position:relative;" class="img-thumbnail" /></a>
                <div id="sample1" style="background-color:#070606; color:#ffffff; position:absolute; bottom:20px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';">کابینت آشپزخانه</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 " style=" margin-bottom:5px; margin-top:5px;">
                <a href="~//samples/decortype/5"><img src="~/Content/img/samples/@samplerep.getsamplesrandom(5).filename" alt="@samplerep.getsamplesrandom(5).decortype.name - @samplerep.getsamplesrandom(5).madeby.Lname " onmouseover="$('#sample2').show('slide', {direction: 'right'}, 500);" onmouseout="$('#sample2').hide('slide', {direction: 'right'}, 500);" style="width:100%; height :Auto; position:relative;" class="img-thumbnail" /></a>
                <div id="sample2" style="background-color:#070606; color:#ffffff; position:absolute; bottom:20px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';">سرویس خواب</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 " style=" margin-bottom:5px; margin-top:5px;">
                <a href="~//samples/decortype/1"><img src="~/Content/img/samples/@samplerep.getsamplesrandom(1).filename" alt="@samplerep.getsamplesrandom(1).decortype.name - @samplerep.getsamplesrandom(1).madeby.Lname " onmouseover="$('#sample3').show('slide', {direction: 'right'}, 500);" onmouseout="$('#sample3').hide('slide', {direction: 'right'}, 500);" style="width:100%; height :Auto; position:relative;" class="img-thumbnail" /></a>
                <div id="sample3" style="background-color:#070606; color:#ffffff; position:absolute;bottom:20px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';">میز LCD</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 " style=" margin-bottom:5px; margin-top:5px;">
                <a href="~//samples/decortype/12"><img src="~/Content/img/samples/@samplerep.getsamplesrandom(12).filename" alt="@samplerep.getsamplesrandom(12).decortype.name - @samplerep.getsamplesrandom(12).madeby.Lname " onmouseover="$('#sample4').show('slide', {direction: 'right'}, 500);" onmouseout="$('#sample4').hide('slide', {direction: 'right'}, 500);" style="width:100%; height :Auto;" class="img-thumbnail" /></a>
                <div id="sample4" style="background-color:#070606; color:#ffffff; position:absolute; bottom:20px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';"> سرویس حمام</div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 " style=" margin-bottom:5px; margin-top:5px;">
                <a href="~//samples/decortype/4"><img src="~/Content/img/samples/@samplerep.getsamplesrandom(4).filename" alt="@samplerep.getsamplesrandom(4).decortype.name - @samplerep.getsamplesrandom(4).madeby.Lname " onmouseover="$('#sample5').show('slide', {direction: 'right'}, 500);" onmouseout="$('#sample5').hide('slide', {direction: 'right'}, 500);" style="width:100%; height :Auto;" class="img-thumbnail" /></a>
                <div id="sample5" style="background-color:#070606; color:#ffffff; position:absolute; bottom:20px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';">دکوراسیون پذیرایی</div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 " style=" margin-bottom:5px; margin-top:5px;">
                <a href="~//samples/decortype/6"><img src="~/Content/img/samples/@samplerep.getsamplesrandom(6).filename" alt="@samplerep.getsamplesrandom(6).decortype.name - @samplerep.getsamplesrandom(6).madeby.Lname " onmouseover="$('#sample6').show('slide', {direction: 'right'}, 500);" onmouseout="$('#sample6').hide('slide', {direction: 'right'}, 500);" style="width:100%; height :Auto;" class="img-thumbnail" /></a>
                <div id="sample6" style="background-color:#070606; color:#ffffff; position:absolute; bottom:20px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';">سرویس خواب کودک</div>

            </div>

        </div>
    </div>
</div>
