@using SoltaniWeb.Models.Domain
@using SoltaniWeb.Models.repository
@model tbl_purchasekart
@{
   _4820_soltaniwebContext db = new _4820_soltaniwebContext();;
    decimal wholecost = 0;
    var totalnumber = 0;
    decimal totalweight = 0;

    abstractinfoofpurchasecart getinfo = new abstractinfoofpurchasecart();

}


<table class="table table-responsive table-bordered">
    <thead>
        <tr class="bg-primary">
            <td colspan="3">جزئیات سبد خرید</td>

        </tr>
        <tr style="background-color:#808080; color:#ffffff;">
            <td>#</td>
            <td>نام کالا</td>
            <td>تعداد</td>
        </tr>
    </thead>
    <tbody style="font-size:12px;">
        @{
            var i = 1;
        }

        @foreach (var item2 in db.tbl_purchasekartitemlist.Where(a => a.perchasekart_id == Model.id))
        {
            <tr style="color:#000000; font-weight:800;">
                <td>@(i)</td>
                <td>@(item2.product_.category.categoryname + " " + item2.product_.name + "--- " + item2.product_.codename)</td>
                <td>@item2.number</td>
            </tr>
            <tr>
                @{
            var totalcost = item2.price * item2.number;
            decimal weight = item2.product_.weight.HasValue == true ? item2.product_.weight.Value : 0;

                }
                <td colspan="3" style="background-color:#ffffff;color:blue">@("وزن واحد: " + item2.product_.weight + "kg - فی:" + item2.price + "ریال" + "- کل : " + totalcost + "ریال")</td>

            </tr>
            i++;
            wholecost = wholecost + totalcost;
            totalnumber = totalnumber + item2.number;
            totalweight = totalweight + item2.number * weight;
        }
    </tbody>
    <tfoot>
        <tr>

            <td colspan="3" style="background-color:#ffffff; font-size:12px;text-align:left;">
                @("وزن کل: " + totalweight + "kg - تعداد کل : " + totalnumber)
            </td>

        </tr>
    </tfoot>
</table>
<table class="table table-bordered">


    <tr>
        <td style="background-color:#ffffff; font-size:12px;color:blue">
            مبلغ کل
        </td>
        <td  style="background-color:#ffffff; font-size:12px;color:blue">
            @getinfo.getabstractcartinfo(Model.id).totalprice

        </td>

    </tr>
    <tr>
        <td  style="background-color:#ffffff; font-size:12px;color:blue">
            کرایه حمل
        </td>
        <td style="background-color:#ffffff; font-size:12px;color:blue">
            @getinfo.getabstractcartinfo(Model.id).totalcosttransportation

        </td>

    </tr>
    <tr>
        <td  style="background-color:#ffffff; font-size:12px;color:blue">
            مبلغ تخفیف
        </td>
        <td  style="background-color:#ffffff; font-size:12px;color:blue">
            @getinfo.getabstractcartinfo(Model.id).discount

        </td>

    </tr>
    <tr>
        <td  style="background-color:#ffffff; font-size:12px;color:blue">
            مبلغ قابل پرداخت
        </td>
        <td style="background-color:#ffffff; font-size:13px;font-weight:800;color:red;">
            @getinfo.getabstractcartinfo(Model.id).payableprice

        </td>

    </tr>

</table>
<a href="/Reports/purchasecartreport?cartid=@Model.id" class="btn btn-success" target="_blank">پرینت</a>

