<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @(ViewBag.title != null ? ViewBag.title : "کالای چوب سلطانی")     </title>
    <link rel="shortcut icon" href="~/soltanistatic/pictures/tab.jpg">
    <meta name="btn btn-viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="@ViewBag.description" />
    <meta name="robots" content="@ViewBag.howtoindex" />
    <meta property="og:title" content="@ViewBag.title" />
    <meta property="og:description" content="@ViewBag.description" />
    <meta property="og:site_name" content="کالای چوب سلطانی" />

    <meta property="og:image" content="~/soltanistatic/pictures/SWP_new10.png" />
    <meta name="google-site-verification" content="sRXVETWVu3BysnxbQW6UlxvHYfB6fYinSaMS-WBiY1Q" />






    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @*<link rel="stylesheet" type="text/css" href="/soltanistatic/style/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/soltanistatic/style/bootstrap-rtl.css" />
    <link rel="stylesheet" type="text/css" href="/soltanistatic/style/bootstrap-rtl.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/soltanistatic/style/aos.css" />
    <link href="~/soltanistatic/style/animate.min.css" rel="stylesheet" />
    <link href="~/soltanistatic/30-css-page-preload-animations/_css/main.css" rel="stylesheet" />
    <link href="/soltanistatic/lib/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/soltanistatic/style/main.css" />
    <link href="~/lib/Kendo/css/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Kendo/css/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Kendo/css/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Kendo/css/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/soltanistatic/script/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/soltanistatic/style/PersianDatePicker.css" rel="stylesheet" />
    <link href="~/soltanistatic/style/owl.carousel.min.css" rel="stylesheet" />
    <script src="~/soltanistatic/script/jquery-2.1.4.js"></script>
    <link href="~/soltanistatic/style/products.css" rel="stylesheet" />
    <script src="~/soltanistatic/script/typeit.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>*@
    @*<script src="~/soltanistatic/script/jquery-3.2.1.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.js"></script>*@
    <script src="~/lib/Kendo/js/jszip.min.js"></script>
    <script src="~/lib/Kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/Kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/Kendo/js/kendo.culture.fa-IR.min.js"></script>
    <script src="~/lib/Kendo/js/kendo.messages.fa-IR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/soltanistatic/script/PersianDatePicker.js"></script>
    <script src="~/soltanistatic/script/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="~/soltanistatic/script/owl.carousel.min.js"></script>

</head>