@using SoltaniWeb.Models.Domain
@using SoltaniWeb.Models.repository
@inject IUserServices _user;
@model tbl_purchasekart
@{
    ViewBag.Title = "showcart";
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
    int i = 0;
    SoltaniWeb.Models.repository.entityproducutsreposit entityrep = new SoltaniWeb.Models.repository.entityproducutsreposit();
    var cartid = 0;

    cartid = Model.id;

    TempData["cartid"] = cartid;
    var transportationrecord = Model.tbl_transportationcost.FirstOrDefault();
    _4820_soltaniwebContext db = new _4820_soltaniwebContext();
    var vehicletypes = db.tbl_vehicletype.ToList();
    var translocationinfo = db.tbl_transportaiondetails.Where(a => a.cartid == cartid);
    var qtranscost = db.tbl_transportationcost.Where(a => a.cart_id == cartid);

    var status = Model.status.Value;
    string resultclass = "width" + status;


    tbl_transportaiondetails t = new tbl_transportaiondetails() { };
    if (Model.tbl_transportaiondetails.Count()>0)
    {
        t = Model.tbl_transportaiondetails.FirstOrDefault();
    }


}

<link href="~/soltanistatic/style/flipclock.css" rel="stylesheet" />
<link href="~/soltanistatic/style/cart.css" rel="stylesheet" />
<div class="container-fluid" data-aos="fade-up">
    <div class="row my-4">
        <div class="col-12">
            <div style="position:relative">
                <h5 class="my-5 contactTitle">سبد خرید شما</h5>
            </div>
        </div>
        <div class="col-12 myfont">
            @if (Model!=null)
            {
            <div class="card">
                <div class="card-header text-center py-0" style=" background-color: #332b3a;color:#fff">
                    <div class="container">
                        <ul class="nav nav-tabs mt-2 pb-3 pr-0 justify-content-between @(resultclass)" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link @(status>=0?"active":"disabled")" purchasestatus=0 data-toggle="tab" href="#step1" role="tab" aria-selected="true">انتخاب کالا</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(status>=1?"active":"disabled")" purchasestatus=1 data-toggle="tab" href="#step2" role="tab" aria-selected="false">درخواست قیمت</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(status>=2?"active":"disabled")" purchasestatus=2 data-toggle="tab" href="#step3" role="tab" aria-selected="false">دریافت قیمت</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(status>=3?"active":"disabled")" purchasestatus=3 data-toggle="tab" href="#step4" role="tab" aria-selected="false">تایید سبد خرید</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(status>=4?"active":"disabled")" purchasestatus=4 data-toggle="tab" href="#step5" role="tab" aria-selected="false">پرداخت و تحویل</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <p class="blue bold mb-4 mt-3">افزودن کالاها به سبد خرید به معنی رزرو کالا برای شما نیست. برای ثبت سفارش باید مراحل بعدی خرید را تکمیل نمایید.</p>
                    <div class="tab-content">
                        <div class="tab-pane @(status==0?"active":"")" purchasestatus=0 id="step1" role="tabpanel">
                            <partial name="~/Views/Shared/PartialCarts/_partialcartforclient.cshtml" model="@Model" />
                            <div id="myform" class="card">
                                <div class="card-header" style="background-color:#0094ff;">
                                   
                                   

                                    <input id="transportationRequired" type="checkbox" data-toggle="collapse" data-target="#transportform" checked="@(Model.transportationisneeded.HasValue==true && Model.transportationisneeded.Value==true)" />
                                    <label>حمل بار توسط فروشگاه انجام پذیرد.</label>

                                </div>
                                <div id="transportform" class="card-body collapse @((Model.transportationisneeded.HasValue==true && Model.transportationisneeded.Value==true) ?"show":"" ) " style="background-color:#eee9e9;">
                                    
                                    <partial name="~/Views/Shared/PartialCarts/_partialcarttransportationform.cshtml" model="@t" />

                                </div>

                            </div>

                            <textarea class="form-control cartDesc" value="@Model.pcartDesc" rows="5" placeholder="توضیحات بیشتر  ...">@Model.pcartDesc</textarea>


                            <button id="sendpricerequest" class="btn mt-5">ثبت درخواست قیمت</button>
                        </div>
                                <div class="tab-pane @(status==1?"active":"")" purchasestatus=1 id="step2" role="tabpanel">
                                    <div class="pt-5 d-flex justify-content-between align-items-center">
                                        <div class="blue"><h5>لطفا جهت دریافت قیمت از سوی کارشناسان ما منتظر بمانید...</h5></div>
                                        <div class=""><div class="your-clock"></div></div>
                                    </div>
                                </div>
                                <div class="tab-pane @(status==2?"active":"")" purchasestatus=2 id="step3" role="tabpanel">

                                    <partial name="~/Views/Shared/PartialCarts/_partialcartforclient.cshtml" model="@Model" />

                                </div>
                                <div class="tab-pane @(status==3?"active":"")" purchasestatus=3 id="step4" role="tabpanel">تایید سبد خرید</div>
                                <div class="tab-pane @(status==4?"active":"")" purchasestatus=4 id="step5" role="tabpanel">پرداخت و تحویل</div>
                            </div>
                        </div>
            </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <center>
                        سبد خرید شما خالی است!
                    </center>
                </div>
            }
            </div>
    </div>
</div>

        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/soltanistatic/script/flipclock.min.js"></script>
        <script>
            var clock = $('.your-clock').FlipClock({
                // ... your options here
            });

            var userid = $('.purchasecart').attr('userid')
            var cartid = $('.purchasecart').attr('cartid')
            var connectionid = ""
            var transportationRequired = 'false'
            var location_name =''
            var person_peygiri = ''
            var tel = ''
            var location_address =''
            function isVipMember() {
                
                jQuery.post('/purchasecart/isVipMember',{}, function (result) {
                    alert(result)
                    if (result!=ture) {
                        alert('این قابلیت تنها برای مشتریان VIP سایت مهیا است. ')
                        return;
                    }


                })


            }

            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            connection.start().catch(err => console.error(err.toString())).then(function () {
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        // Send the connectionId to controller
                       
                        connectionid = connectionId;
                        connection.invoke("registerindb", userid, cartid, connectionid)
                    })
            }) 

            $(sendpricerequest).click(function () {
                
                jQuery.post('/purchasecart/isVipMember', {}, function (result) {
                    //alert(result)
                    if (result != true) {
                        alert('این قابلیت تنها برای مشتریان VIP سایت مهیا است. ')
                        return;
                    }
                    $('#myTab').toggleClass('width1')
                    if ($('#transportationRequired').prop('checked') == true) {
                        transportationRequired = 'true'
                    }
                    location_name = $('#location_name').val()
                    person_peygiri = $('#person_peygiri').val()
                    tell = $('#tell').val()
                    location_address = $('#location_address').val()
                    var from = $('#transform')
                    if (from.isValid) {
                        alert('hi')
                    }
                    var cartDesc = $('.cartDesc').val()



                    connection.invoke("sendpricebyclient", userid, cartid, connectionid, transportationRequired, cartDesc, location_name, person_peygiri, tell, location_address)
                    $(this).attr("disabled", true);

                })
               
               
            })

            connection.on("setDemandPriceStepInClient", function (pstatus) {
                for (var i = 0; i <= pstatus; i++) {
                    $('.nav-link[purchasestatus="' + i + '"]').addClass('active')
                }
                $('.tab-pane').removeClass('active')
                $('.tab-pane[purchasestatus="' + pstatus + '"]').addClass('active')
            })

            connection.on("getPricefromServer", function (cartid, pstatus) {  
                $('#myTab').toggleClass('width2')
                jQuery.post('/admin/getpurchasecart', { cartid: cartid }, function (result) {
                    $('.tab-pane[purchasestatus="2"]').html(result)
                    for (var i = 0; i <= 2; i++) {

                        $('.nav-link[purchasestatus="' + i + '"]').addClass('active')
                    }
                    $('.tab-pane').removeClass('active')
                    $('.tab-pane[purchasestatus="' + 2 + '"]').addClass('active')
                })
            })

            $('body').on('click', '#getPriceBtn', function (e) {
                var cartid = $(this).attr('cartid')
                $('#myTab').toggleClass('width2')
                jQuery.post('/admin/getpurchasecart', { cartid: cartid }, function (result) {
                    $('.tab-pane[purchasestatus="2"]').html(result)
                    for (var i = 0; i <= 2; i++) {

                        $('.nav-link[purchasestatus="' + i + '"]').addClass('active')
                    }
                    $('.tab-pane').removeClass('active')
                    $('.tab-pane[purchasestatus="' + 2 + '"]').addClass('active')
                })
            })

            // to click in tab
            $('.nav-link').click(function (e) {
                return;
            })

            $('.itemnumber').change(function () {
                var id = $(this).attr('id')
                var itemnumber = $(this).val()
                jQuery.post('/purchasecart/editnumber', { id: id, itemnumber: itemnumber }, function (result) {

                    if (result.status == 'false') {
                        var html = 'سفارش شما بیش از موجودی انبار وب سایت می باشد.'
                        html += '<br/>'
                        html += '<br/>'
                        html += 'نام کالا: ' + result.productname
                        html += '<br/>'
                        html += '<br/>'
                        html += 'موجودی : ' + result.maxcount
                        html += '<br/>'
                        html += '<br/>'
                        html += 'چنانچه واقعا بیش از این مقدار قصد خرید دارید با دفتر فروشگاه تماس حاصل فرمایید'
                        html += '<br/>'
                        html += '<br/>'
                        html += 'تلفن فروشگاه : 07138219110    ----   تلفن انبار : 07137742067'
                        $(messagenotokheader).html('سفارش بیش از موجودی ')
                        $(messagenotokbody).html(html)
                        $(messagenotok).modal()
                    } else {
                        $("#price" + id).html(result.newprice)
                        $('#totalnumber').html(result.totalnumber)
                    }
                })
            })
           
            $('body').on('click', '.deleteitem', function (e) {
                e.preventDefault()
                if (confirm('آیا اطمینان به حذف این محصول دارید')) {
                    var id = $(this).attr('id')
                    var itemtodelete = $(this).parents('tr')
                   
                    jQuery.post('/purchasecart/deleteitem', { id: id }, function (result) {
                        alert(JSON.stringify(result))
                        itemtodelete.remove()
                        $(".totalprice").html(result.totalprice)
                        $(".discount").html(result.discount)
                        $(".payableprice").html(result.payableprice)
                        $('.totalnumber').html(result.totalnumber)
                                          
                    })
                }
            })
        </script>
