@model SoltaniWeb.Models.Domain.tbl_news
@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
    SoltaniWeb.Models.repository.newsrepository newsrep = new SoltaniWeb.Models.repository.newsrepository();
    SoltaniWeb.Models.repository.newscommentreposit newscommentrep = new SoltaniWeb.Models.repository.newscommentreposit();
    ViewBag.description = Model.abstractnews;
    ViewBag.howtoindex = "index";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<script src="http://files.codepedia.info/uploads/iScripts/html2canvas.js"></script>
<link href="~/soltanistatic/style/news.css" rel="stylesheet" />

<section class="container-fluid newspage">
    <div class="row my-4">
        <div class="col-12">
            <div style="position:relative">
                <h1 class="my-5 productsTitle">اخبار و مقالات<span style="color:#132666"></span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="html-content-holder" class=" col-lg-8 col-12" style=" background-color:#ffffff;  text-align:right ; direction :rtl; font-family:'B Nazanin' ; color:#0d0000;line-height:22px; border-radius:5px;">
            <div class="row">
                <div class=" col-12" id="newsbody">
                    <div class="card" style="   box-shadow:0 5px 10px #332b3a !important;border:unset">
                        <div class="card-header" style="background-color:#332b3a;color:#fff">
                            <h4>آخرین خبر</h4>
                        </div>
                        <div class="card-body">
                            <h5 style=" color:#132666; font-family :'B Titr' ;"><span class="fas fa-th" aria-hidden="true" style=" margin-left :5px;"></span> @Model.title</h5>
                            <div class="row">
                                <div class="col-12 text-left">
                                    <div style=" float:left; color:#6a95cc; border-bottom :1px dashed #808080; margin-left:12px; font-family:'B Titr';">شناسه خبر : @Model.id -  مورخ : @shamsi.GetStringDate(Model.issudate) - @Model.issudate.ToString("hh:mm")</div>
                                </div>
                                <div class=" col-lg-6 col-12" style=" color:#808080; font-family :'B Titr' ;">
                                    <h6 style=" color:#6a95cc;">چکیده  :</h6>
                                    <div style="padding-right:20px;font-family:'B Nazanin'; text-align :justify;">@Html.Raw(Model.abstractnews)</div>
                                </div>
                                @if (Model.tbl_newsimages.Count() > 0)
                                {
                                    <div class=" col-lg-6 col-12" style=" color:#808080; font-family :'B Titr' ;">
                                        <img src="~/Content/img/newsimages/@Model.tbl_newsimages.LastOrDefault().newsimage.filename" style=" width :100%;" />
                                    </div>

                                }

                                <hr />
                                <div class="col-12" style=" text-align :justify ;">
                                    @Html.Raw(Model.fulltext)
                                </div>

                                <div class="col-12" style=" font-size:12px; color:#332b3a;">
                                    <div style=" float:left;">
                                        @Model.visits
                                        <img src="~/Content/img/icon/glyphicons_051_eye_open@2x.png" style="height:8px;width:auto;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="background-color:#332b3a" id="newcommentbody">
                            <div class="row">
                                <div class="col-12" style=" margin-bottom:20px;">
                                    <div class="row" style="color:#ffffff; background-color :#332b3a;">
                                        <div class="col-12">
                                            <div style="vertical-align:middle ;  margin-top :10px;"><span style=" font-family:'B Homa';color:#fff" data-target="#collapseComments" data-toggle="collapse">نظرات بینندگان : </span> </div>
                                        </div>
                                        <div class="col-12 collapse" id="collapseComments">
                                            <div class="row " id="insert comment" style=" background:#ffffff;color:#132666" >


                                                @foreach (var item3 in newscommentrep.getnewscomments(Model.id))
                                                {
                                                    <div class="col-12 commentpanel" style=" border-bottom:1px dotted #808080; margin-bottom:1px; margin-top:1px;" id="eachcomment">
                                                        <div class="row">
                                                            <div class="col-12" style="background-color :#f8eec9; height :22px;">
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-6">@item3.name</div>
                                                                    <div style=" font-family:'B Nazanin'; " class="col-lg-2 col-6">@shamsi.GetStringDate(item3.datecomment)</div>
                                                                    <div style=" font-family:'B Nazanin'; " class="col-lg-2 hidden-sm hidden-xs"> @item3.datecomment.ToString("hh:mm")</div>
                                                                    <div style=" font-family:'B Nazanin'; " class="col-2"><a style="cursor :pointer;" onclick="$('#@item3.id').toggle(700);">پاسخ</a></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12" style="background-color :#ffffff; font-family :'B Nazanin'">
                                                                <div class="row">
                                                                    <div class="col-12"><img src="~/Content/img/icon/comments.gif" style=" margin-left:5px; text-align:justify;" />@Html.Raw(item3.text)</div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="col-12" id="@item3.id" style="display :none; background-color:#f7f0da;">
                                                                <div class="form-horizontal">
                                                                    <div class="row">
                                                                        @*@using (Ajax.BeginForm("InsertreplynewsComment", "news", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "Loading", UpdateTargetId = "" }))
                                                        {*@
                                                                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                                                                        @*<div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-10">

                                                                    <input type="hidden" name="newsid" value="@item3.newsid" />
                                                                    <input type="hidden" name="parentid" value="@item3.id" />
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                                        <div class="form-group col-md-6">
                                                                            <label for="usr">نام :</label>
                                                                            <input type="text" name="name" class="form-control" id="name" placeholder="نام">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label for="usr">ایمیل :</label>
                                                                            <input type="text" name="email" class="form-control" id="email" placeholder="email">
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <label for="pwd">متن نظر :</label>
                                                                            <textarea name="text" class="form-control" id="fulltext" placeholder="متن نظر را وارد نمایید"></textarea>

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-2">
                                                                                <input type="submit" value="ارسال" class="btn" style="background-color:#332b3a;color:#ffca01" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    @*}*@
                                                                </div>
                                                            </div>

                                                            @foreach (var item2 in newscommentrep.getreplynewscomments(Model.id, item3.id))
                                                            {
                                                                <div class="col-12 commentpanel" id="eachcomment">
                                                                    <div class="row">
                                                                        <div class="col-12" style="background-color :#f7f2e1; height :20px;">
                                                                            <div class="row">
                                                                                <div class="col-lg-4 col-6">  پاسخ: @item2.name</div>
                                                                                <div style=" font-family:'B Nazanin'; " class="col-lg-3 col-6">@shamsi.GetStringDate(item2.datecomment)</div>
                                                                                <div style=" font-family:'B Nazanin'; " class="col-lg-2 hidden-sm hidden-xs"> @item2.datecomment.ToString("hh:mm")</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12" style="background-color :#ffffff; font-family :'B Nazanin'">
                                                                            <div class=""><img src="~/Content/img/icon/comments.gif" style=" margin-left:5px; text-align:justify;" />@Html.Raw(item2.text)</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            }

                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12" style="color:#ffffff; background-color :#332b3a; margin-top :10px; margin-bottom :10px; ">
                                            <div class="row">
                                                <div class="col-lg-4 col-12" style="vertical-align:middle ;  margin-top :10px;"><span style=" font-family:'B Homa';color:#fff">نظر شما : </span> </div>
                                            </div>
                                        </div>
                                        <div class=" col-12" id="insert comment">


                                            @Html.Partial("P_addnewscomment", new SoltaniWeb.Models.Domain.tbl_newscomments() { newsid = Model.id })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 hidden-xs ">
            <div class="row">
                <div class=" col-12" style=" background-color:#ffffff;  text-align:justify ; direction :rtl; font-family:'B Nazanin' ; color:#0d0000;border-radius:5px;">
                    <!-- Nav tabs -->
                    <div class="newstopic" style="box-shadow:0 5px 10px #332b3a !important">
                        @if (Model.newtypeid == 1)
            {
                        <ul class="nav nav-tabs pr-0" role="tablist" style="background-color:#332b3a">
                            <li role="presentation" class="nav-item" style=" background-color:#f2ebeb; font-family :'B Titr';"><a class="nav-link active" href="#news" aria-controls="home" role="tab" data-toggle="tab"> جدید ترین اخبار </a></li>
                            <li role="presentation" class="nav-item" style=" background-color:#f2ebeb; font-family :'B Titr';"><a class="nav-link" href="#notifications" aria-controls="profile" role="tab" data-toggle="tab">جدید ترین اعلانیه ها</a></li>

                        </ul>

                <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="news">
                                <ul>
                                    @foreach (var item in newsrep.getnewsbasedtype(30, 0, 1))
                            {
                                //qLatestNews.Text.Length>700?qLatestNews.Text.Substring(0,700)+" ..." : qLatestNews.Text
                                        <li style=" margin-bottom:20px; margin-top:20px; font-family:'B Titr'"><a href="~/news/newsdetails?id=@item.id&key=@item.keywords">@Html.Raw(item.title.Length > 80 ? item.title.Substring(0, 80) + "..." : item.title) </a></li>
                            }

                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="notifications">
                                <ul>
                                    @foreach (var item in newsrep.getnewsbasedtype(30, 0, 2))
                            {
                                //qLatestNews.Text.Length>700?qLatestNews.Text.Substring(0,700)+" ..." : qLatestNews.Text
                                        <li style=" margin-bottom:20px; margin-top:20px; font-family:'B Titr'"><a href="~/news/newsdetails?id=@item.id&key=@item.keywords">@Html.Raw(item.title.Length > 80 ? item.title.Substring(0, 80) + "..." : item.title) </a></li>
                            }

                                </ul>
                            </div>

                        </div>
                        }
                        else
                        {
                        <ul class="nav nav-tabs pr-0" role="tablist" style="background-color:#332b3a !important">
                            <li role="presentation" class="nav-item" style=" background-color:#f2ebeb; font-family :'B Titr'"><a class="nav-link active" href="#news" aria-controls="home" role="tab" data-toggle="tab"> جدید ترین اخبار</a></li>
                            <li role="presentation" class="nav-item" style=" background-color:#f2ebeb; font-family :'B Titr'"><a class="nav-link" href="#notifications" aria-controls="profile" role="tab" data-toggle="tab">جدید ترین اعلانیه ها</a></li>

                        </ul>

                <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane " id="news">
                                <ul>
                                    @foreach (var item in newsrep.getnewsbasedtype(30, 0, 1))
                            {
                                //qLatestNews.Text.Length>700?qLatestNews.Text.Substring(0,700)+" ..." : qLatestNews.Text
                                        <li style=" margin-bottom:20px; margin-top:20px; font-family:'B Titr'"><a href="~/news/newsdetails?id=@item.id & key = @item.keywords">@Html.Raw(item.title.Length > 80 ? item.title.Substring(0, 80) + "..." : item.title) </a></li>
                            }

                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="notifications">
                                <ul>
                                    @foreach (var item in newsrep.getnewsbasedtype(30, 0, 2))
                            {
                                //qLatestNews.Text.Length>700?qLatestNews.Text.Substring(0,700)+" ..." : qLatestNews.Text
                                        <li style=" margin-bottom:20px; margin-top:20px; font-family:'B Titr'"><a href="~/news/newsdetails?id=@item.id & key = @item.keywords">@Html.Raw(item.title.Length > 80 ? item.title.Substring(0, 80) + "..." : item.title) </a></li>
                            }

                                </ul>
                            </div>

                        </div>


                        }
                        <hr />
                        <div style="">

                            <h4 style="padding-right:10px; color :#6a94cc;"><span class="fas fa-book" style=" color :#6a95cc" aria-hidden="true"></span> <span style=" font-family :'B Titr' ; vertical-align :middle;">جدیدترین مقالات:</span></h4>
                        </div>
                        <hr />
                        <div>
                            <ul>
                                @foreach (var item in newsrep.getnewsbasedtype(30, 0, 3))
                                {
                                    //qLatestNews.Text.Length>700?qLatestNews.Text.Substring(0,700)+" ..." : qLatestNews.Text
                                <li style=" margin-bottom:20px; margin-top:20px; font-family:'B Titr'"><a href="~/news/newsdetails?id=@item.id&key=@item.keywords">@Html.Raw(item.title.Length > 80 ? item.title.Substring(0, 80) + "..." : item.title) </a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
