@model IEnumerable<SoltaniWeb.Models.Domain.tbl_files>

@using SoltaniWeb.Models.utility;



@{
    //ViewBag.Title = "madeby";
    ViewBag.howtoindex = "index";
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
}

<head>
    <title></title>

    <link href="~/soltanistatic/style/gallery.css" rel="stylesheet" />
    <script src="~/Scripts/lightbox/js/modernizr.custom.js"></script>
    <link href="~/Scripts/lightbox/css/lightbox.css" rel="stylesheet" />

</head>

<body>


    <div class="container-fluid madebyPage">
        <div class="row my-4">
            <div class="col-12">
                <div style="position:relative">
                    <h1 class="my-5 contactTitle" id="imagegallery">گالری نمونه کارهای  @Model.FirstOrDefault().madeby.prefix  @Model.FirstOrDefault().madeby.Fname  @Model.FirstOrDefault().madeby.Lname </h1>
                </div>
            </div>
        </div>
        <div class="container mb-5" style="background-color:#fff;border-bottom:4px solid #ffca01;box-shadow:0 2px 5px #f3e19e">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1 align-items-center" style="padding:40px">
                    <table class="table table-responsive" style="display:table;border:none !important">
                        <tr class="row">
                            <td class="beforeTD col-12 col-lg-6"><i class="fas fa-mobile-alt ml-1"></i>شماره موبایل :</td>
                            <td class="col-12 col-lg-6 td-left">@Model.FirstOrDefault().madeby.cell</td>
                        </tr>
                        <tr class="row">
                            <td class="beforeTD col-12 col-lg-6"><i class="fas fa-phone ml-1"></i>شماره تلفن ثابت :</td>
                            <td class="col-12 col-lg-6 td-left">@Model.FirstOrDefault().madeby.tell</td>
                        </tr>
                        <tr class="row">
                            <td class="beforeTD col-12 col-lg-6"><i class="fas fa-map-marker-alt ml-1"></i>آدرس :</td>
                            <td class="col-12 col-lg-6 td-left">@Model.FirstOrDefault().madeby.address</td>
                        </tr>
                        <tr class="row">
                            <td class="beforeTD col-12 col-lg-6"><i class="fab fa-instagram ml-1"></i>لینک اینستاگرام :</td>
                            <td class="col-12 col-lg-6 td-left"><a href=""></a></td>
                        </tr>
                        <tr class="row">
                            <td class="beforeTD col-12 col-lg-6"><i class="fas fa-info ml-1"></i>بیوگرافی :</td>
                            <td class="col-12 col-lg-6"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 text-center pt-5">

                    <img src="~/Content/img/icon/user.png" style="width:225px; height:225px;" />

                </div>
            </div>
        </div>
        <div class="row made">
            @foreach (var item in Model)
            {
                string imageroot = _hostingEnvironment.WebRootPath + "/Content/img/samples/" + item.filename;
                bool f = File.Exists(imageroot);
                
                if (f==true)
                {
            <div lol=@f filename="@imageroot" id="sample @item.id" class="col-lg-2 col-12 mb-lg-4 mb-5">
                <div style="box-shadow:0 2px 5px #808080">

                    <a href="~/Content/img/samples_L/@item.filename" data-lightbox="vahid-majidi" title="@item.decortype.name اثر @item.madeby.prefix  @item.madeby.Fname   @item.madeby.Lname"><img src="~/Content/img/samples/@item.filename " onmouseover="$('#@item.id').show('slide', {direction: 'right'}, 500);" onmouseout="$('#@item.id').hide('slide', {direction: 'right'}, 500);" alt="@item.decortype.name - @item.madeby.Fname  @item.madeby.Lname" style=" position:relative;" class="img-thumbnail p-0" /></a>
                    <div id="@item.id" style="background-color:#ffca01; color:#132666; position:absolute; top:120px;right:30px; padding-left:10px; padding-right:10px; display:none; border-radius:3px; font-size:14px; font-family:'B Zar';">@item.date.ToPersianDate()</div>
                    @* <span id="date" style="background-color:#070606; color:#ffffff; position:absolute; top:120px;right:30px; width:40%; z-index:1000; padding-right:10px;">@shamsi.GetStringDate(item.date)</span>*@
                    <div class="" style="background-color:#ffffff; ">
                        <div class="">
                            <a href="/samples/decortype?id=@item.decortypeid&key=@item.decortype.keywords"><h5 style="text-align :center ;padding-top:10px"> @item.decortype.name </h5></a>
                        </div>
                        <div class="">
                            <h5 style="text-align :center ;padding:10px">ID: @item.id </h5>
                        </div>
                    </div>
                </div>
            </div>
                }



                

            }
        </div>

    </div>

    <script src="~/Scripts/lightbox/js/lightbox-2.6.min.js"></script>


</body>
